:root {
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: rgba(20, 20, 20, 0.2);
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
}
h1 {
  display: none;
}
.container {
}
ul {
  list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
  background-color: #3cbc81;
  padding: 12px;
}

.logo-cont {
  display: flex;
  padding: 0;
}
.head.container {
  display: flex;
  align-items: center;
  position: static;
  justify-content: center;
}
.logo-list,
.menu-list {
  display: flex;
  align-items: center;
}
.menu-button {
  border: 1px;
  border-radius: 30px;
  background-color: #595b46;
  padding: 16px 32px;
}
.menu-item {
}
